<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd "
	default-lazy-init="false">

	<description>hibernate配置</description>

	<!-- Hibernate配置 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<value>
				<!-- 设置数据库方言 -->
		        hibernate.dialect=${hibernate.dialect}
		        <!-- 设置自动创建|更新|验证数据库表结构 -->
		        hibernate.hbm2ddl.auto=update
		        <!-- 是否在控制台显示sql -->
		        hibernate.show_sql=${hibernate.show_sql}
		        <!-- 是否格式化sql，优化显示 -->
		        hibernate.format_sql=${hibernate.format_sql}
		        <!-- 是否开启二级缓存 -->
		        hibernate.cache.use_second_level_cache=false
		        <!-- 是否开启查询缓存 -->
		        hibernate.cache.use_query_cache=false
		        <!-- 数据库批量查询最大数 -->
		        hibernate.jdbc.fetch_size=50
		        <!-- 数据库批量更新、添加、删除操作最大数 -->
		        hibernate.jdbc.batch_size=50
		        <!-- 是否自动提交事务 -->
		        hibernate.connection.autocommit=true
		        <!-- 指定hibernate在何时释放JDBC连接 -->
		        hibernate.connection.release_mode=auto
		        <!-- 创建session方式 hibernate4.x 的方式 -->
		        hibernate.current_session_context_class=org.springframework.orm.hibernate4.SpringSessionContext
		        <!-- javax.persistence.validation.mode默认情况下是auto的，就是说如果不设置的话它是会自动去你的classpath下面找一个bean-validation**包，所以把它设置为none即可 -->
		        javax.persistence.validation.mode=none
			</value>
		</property>
		<property name="packagesToScan">
			<list>
				<!-- entity packages list here -->
				<value>cc.cnfc.entity</value>
			</list>
		</property>
	</bean>

	<!-- 事务管理器配置,单数据源事务 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	
</beans>