<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="cc.cnfc.mapper.CustomerMapper">  

	<select id="findByMSysId" parameterType="string" resultType="cc.cnfc.entity.ac.Customer">  
    	SELECT * FROM m_customer WHERE mSysId=#{mSysId}  
	</select>  
	
	<select id="findLs" parameterType="string" resultType="cc.cnfc.entity.ac.Customer">  
    	SELECT * FROM m_customer
	</select>  

</mapper>